.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#manage_users_add {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 60px;
    clear: none;
    width: 900px;
    margin-right: auto;
    padding-bottom: 25px;
}

body {
    font-family: 'Open Sans';
}

#manage_users_add_text {
    float: none;
    font-size: 40px;
    width: 900px;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 50px;
    font-family: Raleway;
    margin-right: 0px;
}

#user_name_group {
    float: none;
    height: 51px;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 5px;
    clear: none;
    width: 540px;
}

#user_name_group_text {
    float: none;
    font-size: 20px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
}

#user_name_input {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
}

#user_surname_group {
    float: none;
    height: 51px;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 10px;
    clear: none;
    width: 540px;
}

#user_surname_text {
    float: none;
    font-size: 20px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
}

#user_surname_input {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
}

#save_button:hover {
    border-top-style: double;
    border-right-style: double;
    border-bottom-style: double;
    border-left-style: double;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    color: rgb(0, 0, 0);
}

#save_button {
    float: none;
    height: 40px;
    font-size: 20px;
    margin-left: 0px;
    margin-top: 25px;
    clear: none;
    width: 130px;
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    -webkit-box-shadow: rgb(255, 255, 255) 0px 1px 3px 0px;
    box-shadow: rgb(255, 255, 255) 0px 1px 3px 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font-family: 'Open Sans';
    display: block;
    background-color: rgb(255, 255, 255);
}

#user_username_group {
    float: none;
    height: 51px;
    display: block;
    text-align: left;
    margin-left: 0%;
    margin-top: 10px;
    clear: none;
    width: 540px;
    margin-right: 0%;
}

#user_username_text {
    float: none;
    font-size: 20px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
}

#user_username_input {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
}

#user_e-mail_group {
    float: none;
    height: 51px;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 10px;
    clear: none;
    width: 540px;
    margin-right: 0px;
}

#user_e-mail_text {
    float: none;
    font-size: 20px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
}

#user_e-mail_input {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
}

#save_and_add_another_button:hover {
    border-top-style: double;
    border-right-style: double;
    border-bottom-style: double;
    border-left-style: double;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    color: rgb(0, 0, 0);
}

#save_and_add_another_button {
    float: none;
    height: 40px;
    font-size: 20px;
    margin-left: 150px;
    margin-top: -40px;
    clear: none;
    width: 330px;
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    -webkit-box-shadow: rgb(255, 255, 255) 0px 1px 3px 0px;
    box-shadow: rgb(255, 255, 255) 0px 1px 3px 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font-family: 'Open Sans';
    display: block;
    background-color: rgb(255, 255, 255);
    margin-right: 0%;
}

#user_type_group {
    float: none;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 10px;
    clear: none;
    width: 270px;
    min-height: auto;
    margin-right: 0px;
}

#user_type_text {
    float: none;
    font-size: 20px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
}

#user_type_drop_down {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
}

