.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#modify_ingredients {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 60px;
    clear: none;
    width: 900px;
    margin-right: auto;
    min-height: 500px;
}

body {
    font-family: 'Open Sans';
}

#add_ingredients_button:hover {
    border-top-style: double;
    border-right-style: double;
    border-bottom-style: double;
    border-left-style: double;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    color: rgb(0, 0, 0);
}

#add_ingredients_button {
    float: none;
    height: 40px;
    font-size: 20px;
    margin-left: 0px;
    margin-top: 5px;
    clear: none;
    width: 200px;
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    -webkit-box-shadow: rgb(255, 255, 255) 0px 1px 3px 0px;
    box-shadow: rgb(255, 255, 255) 0px 1px 3px 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font-family: 'Open Sans';
    display: block;
    background-color: rgb(255, 255, 255);
    padding-right: 1px;
    padding-left: 1px;
    margin-right: 0px;
}

#edit_ingredients_button:hover {
    border-top-style: double;
    border-right-style: double;
    border-bottom-style: double;
    border-left-style: double;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    color: rgb(0, 0, 0);
}

#edit_ingredients_button {
    float: none;
    height: 40px;
    font-size: 20px;
    margin-left: 230px;
    margin-top: -40px;
    clear: none;
    width: 200px;
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    -webkit-box-shadow: rgb(255, 255, 255) 0px 1px 3px 0px;
    box-shadow: rgb(255, 255, 255) 0px 1px 3px 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font-family: 'Open Sans';
    display: block;
    padding-right: 1px;
    padding-left: 1px;
    background-color: rgb(255, 255, 255);
    margin-right: 0px;
}

#modify_ingredients_text {
    float: none;
    font-size: 40px;
    width: 380px;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 50px;
    font-family: Raleway;
    margin-right: 0px;
    display: block;
}

#table {
    float: left;
    height: auto;
    margin-top: 15px;
    clear: both;
    width: 100%;
    min-height: 40px;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    width:100%;
}
th {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    border-bottom: 4px solid black;
}

td {
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}

/* The Modal (background) */
.modal {
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 150px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 500px;
}

#modal_button_yes:hover {
    border-top-style: double;
    border-right-style: double;
    border-bottom-style: double;
    border-left-style: double;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    color: rgb(0, 0, 0);
}

#modal_button_yes {
    float: none;
    height: 40px;
    font-size: 20px;
	color: white;
    margin-left: 0px;
    margin-top: 5px;
    clear: none;
    width: 200px;
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    -webkit-box-shadow: rgb(255, 255, 255) 0px 1px 3px 0px;
    box-shadow: rgb(255, 255, 255) 0px 1px 3px 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font-family: 'Open Sans';
    display: block;
    background-color: red;
    padding-right: 1px;
    padding-left: 1px;
    margin-right: 0px;
}

#modal_button_no:hover {
    border-top-style: double;
    border-right-style: double;
    border-bottom-style: double;
    border-left-style: double;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    color: rgb(0, 0, 0);
}

#modal_button_no {
    float: none;
    height: 40px;
    font-size: 20px;
	color: white;
    margin-left: 0px;
    margin-top: 5px;
    clear: none;
    width: 200px;
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    -webkit-box-shadow: rgb(255, 255, 255) 0px 1px 3px 0px;
    box-shadow: rgb(255, 255, 255) 0px 1px 3px 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font-family: 'Open Sans';
    display: block;
    background-color: green;
    padding-right: 1px;
    padding-left: 1px;
    margin-right: 0px;
}