.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#user_panel {
    float: none;
    height: 448px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 900px;
    margin-right: auto;
}

#welcome_text {
    float: left;
    font-size: 50px;
    width: 711px;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    font-family: Raleway;
    margin-right: 0px;
}

#description_text {
    float: left;
    font-size: 24px;
    width: 711px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: both;
    min-height: 0px;
    font-family: 'Open Sans';
    margin-right: 0px;
}

body {
    font-family: 'Open Sans';
}

#modify_ingredients_button {
    float: left;
    height: 80px;
    font-size: 20px;
    margin-left: 0px;
    margin-top: 10px;
    clear: both;
    width: 350px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin-right: 0px;
    display: block;
}

#modify_ingredients_button:hover {
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: double;
    border-right-style: double;
    border-bottom-style: double;
    border-left-style: double;
}

#home_page_button:hover {
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: double;
    border-right-style: double;
    border-bottom-style: double;
    border-left-style: double;
}

#home_page_button {
    float: left;
    height: 80px;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    clear: none;
    width: 350px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    display: block;
    background-color: rgb(255, 255, 255);
    margin-right: 0px;
}

#main_box {
    float: none;
    height: 354px;
    margin-left: auto;
    margin-top: 60px;
    clear: none;
    width: 79%;
    margin-bottom: 0px;
    margin-right: auto;
}

#e-mail_settings_button:hover {
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: double;
    border-right-style: double;
    border-bottom-style: double;
    border-left-style: double;
}

#e-mail_settings_button {
    float: left;
    height: 80px;
    font-size: 20px;
    margin-left: 0px;
    margin-top: 10px;
    clear: both;
    width: 350px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    margin-right: 0px;
    display: block;
    background-color: rgb(255, 255, 255);
}

#manage_users_button:hover {
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: double;
    border-right-style: double;
    border-bottom-style: double;
    border-left-style: double;
}

#manage_users_button {
    float: left;
    height: 80px;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    clear: none;
    width: 350px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    margin-right: 0px;
    display: block;
    background-color: rgb(255, 255, 255);
}

#change_password_button:hover {
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: double;
    border-right-style: double;
    border-bottom-style: double;
    border-left-style: double;
}

#change_password_button {
    float: left;
    height: 80px;
    font-size: 20px;
    margin-left: 0px;
    margin-top: 10px;
    clear: both;
    width: 350px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    margin-right: 0px;
    display: block;
    background-color: rgb(255, 255, 255);
}

#log_out_buttton:hover {
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: double;
    border-right-style: double;
    border-bottom-style: double;
    border-left-style: double;
}

#log_out_buttton {
    float: left;
    height: 80px;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    clear: none;
    width: 350px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    margin-right: 0px;
    display: block;
    background-color: rgb(255, 255, 255);
}

