.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#change_password {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 50px;
    clear: none;
    width: 900px;
    margin-right: auto;
    min-height: 500px;
    padding-bottom: 25px;
}

body {
    font-family: 'Open Sans';
}

#new_password_group {
    float: none;
    height: 51px;
    display: block;
    text-align: left;
    margin-left: auto;
    margin-top: 50px;
    clear: none;
    width: 230px;
    margin-right: auto;
}

#new_password_text {
    float: none;
    font-size: 20px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
}

#new_password_input {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
}

#new_password_again_group {
    float: none;
    height: 51px;
    display: block;
    text-align: left;
    margin-left: auto;
    margin-top: 9px;
    clear: none;
    width: 230px;
    margin-right: auto;
}

#new_password_again_text {
    float: none;
    font-size: 20px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
}

#new_password_again_input {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
}

#error_text {
	color: red;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
}

#change_password_button2:hover {
    border-top-style: double;
    border-right-style: double;
    border-bottom-style: double;
    border-left-style: double;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    color: rgb(0, 0, 0);
}

#change_password_button2 {
    float: none;
    height: 40px;
    font-size: 20px;
    margin-left: auto;
    margin-top: 20px;
    clear: none;
    width: 200px;
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    -webkit-box-shadow: rgb(255, 255, 255) 0px 1px 3px 0px;
    box-shadow: rgb(255, 255, 255) 0px 1px 3px 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font-family: 'Open Sans';
    display: block;
    background-color: rgb(255, 255, 255);
    margin-right: auto;
	border: 1px solid black;
}

