.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#modify_ingredients_edit {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 60px;
    clear: none;
    width: 900px;
    margin-right: auto;
    min-height: 500px;
    padding-bottom: 25px;
}

body {
    font-family: 'Open Sans';
}

#modify_ingredients_edit_text {
    float: none;
    font-size: 40px;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 50px;
    font-family: Raleway;
    margin-right: 0px;
}

#ingredient_name_group {
    float: none;
    height: 51px;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 10px;
    clear: none;
    width: 540px;
}

#ingredient_name_text {
    float: none;
    font-size: 20px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
}

#ingredient_name_input {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
}

#ingredient_brand_group {
    float: none;
    height: 51px;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 10px;
    clear: none;
    width: 540px;
}

#ingredient_brand_text {
    float: none;
    font-size: 20px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
    margin-top: 0px;
    margin-left: 0px;
    clear: none;
}

#ingredient_brand_input {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    clear: none;
}

#save_button:hover {
    border-top-style: double;
    border-right-style: double;
    border-bottom-style: double;
    border-left-style: double;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    color: rgb(0, 0, 0);
}

#save_button {
    float: none;
    height: 40px;
    font-size: 20px;
    margin-left: 0px;
    margin-top: 25px;
    clear: none;
    width: 130px;
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    -webkit-box-shadow: rgb(255, 255, 255) 0px 1px 3px 0px;
    box-shadow: rgb(255, 255, 255) 0px 1px 3px 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font-family: 'Open Sans';
    display: block;
    background-color: rgb(255, 255, 255);
	border: 1px solid black;
}

#ingredient_unit_group {
    float: none;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 10px;
    clear: none;
    width: 270px;
    min-height: auto;
    margin-right: 0px;
}

#ingredient_unit_drop_down {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
}

#ingredient_unit_text {
    float: none;
    font-size: 20px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
}

#ingredient_remaining_group {
    float: none;
    height: 51px;
    display: block;
    text-align: left;
    margin-left: 0%;
    margin-top: 10px;
    clear: none;
    width: 540px;
    margin-right: 0px;
}

#ingredient_unit_text1 {
    float: none;
    font-size: 20px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
}

#ingredient_unit_input {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
}

#ingredient_expiration_group {
    float: none;
    height: 51px;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 10px;
    clear: none;
    width: 270px;
    margin-right: 0px;
}

#ingredient_expiration_text {
    float: none;
    font-size: 20px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
}

#ingredient_expiration_input {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
}

#ingredient_expiration_input1 {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
}

#ingredient_notes_group {
    float: none;
    height: 124px;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 10px;
    clear: none;
    width: 540px;
    margin-right: 0px;
}

#ingredient_notes_text {
    float: none;
    font-size: 20px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
}

#ingredient_notes_input {
    float: none;
    height: 6em;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
}

#select_ingeredient_group {
    float: none;
    height: auto;
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 270px;
    min-height: auto;
    margin-right: 0px;
}

#select_ingeredient_text {
    float: none;
    font-size: 20px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0em;
    padding-right: 0em;
    display: block;
}

#select_ingeredient_drop_down {
    float: none;
    height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 1em;
    display: block;
    width: 100%;
}

#select_ingeredient_button:hover {
    border-top-style: double;
    border-right-style: double;
    border-bottom-style: double;
    border-left-style: double;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    color: rgb(0, 0, 0);
}

#select_ingeredient_button {
    float: none;
    height: 40px;
    font-size: 20px;
    margin-left: 300px;
    margin-top: -40px;
    clear: none;
    width: 130px;
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    -webkit-box-shadow: rgb(255, 255, 255) 0px 1px 3px 0px;
    box-shadow: rgb(255, 255, 255) 0px 1px 3px 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font-family: 'Open Sans';
    display: block;
    background-color: rgb(255, 255, 255);
    margin-right: 0px;
	border: 1px solid black;
}

