.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

body {
    font-family: 'Open Sans';
}

#user_bar_admin {
    float: none;
    height: 45px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: auto;
    border-bottom-width: 1px;
    border-bottom-color: rgba(45, 45, 45, 0.498039);
    border-bottom-style: solid;
    min-width: 0px;
}

#e-mail_settings_button {
    float: left;
    font-size: 24px;
    width: 180px;
    height: 30px;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    font-family: Raleway;
    margin-right: 0px;
}

#main {
    float: none;
    height: 45px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 900px;
    margin-right: auto;
}

#e-mail_settings_button:hover {
    text-decoration: none;
    margin-top: 13px;
}

#manage_users_button:hover {
    text-decoration: none;
    margin-top: 13px;
}

#manage_users_button {
    float: left;
    font-size: 24px;
    width: 170px;
    height: 30px;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
    margin-left: 4px;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    font-family: Raleway;
    margin-right: 0px;
    display: block;
}

#home_page_button:hover {
    text-decoration: none;
    margin-top: 13px;
}

#home_page_button {
    float: left;
    font-size: 24px;
    width: 140px;
    height: 30px;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
    margin-left: 4px;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    font-family: Raleway;
    margin-right: 0px;
    display: block;
}

#log_out_button:hover {
    text-decoration: none;
    margin-top: 13px;
}

#log_out_button {
    float: left;
    font-size: 24px;
    width: 100px;
    height: 30px;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
    margin-left: 4px;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    font-family: Raleway;
    margin-right: 0px;
    display: block;
}

#seperator:hover {
    text-decoration: none;
    margin-top: 10px;
}

#seperator {
    float: left;
    font-size: 24px;
    width: 7px;
    height: 30px;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    font-family: Raleway;
    margin-right: 0px;
    display: block;
    color: rgb(0, 0, 0);
}

#seperator1:hover {
    text-decoration: none;
    margin-top: 10px;
}

#seperator1 {
    float: left;
    font-size: 24px;
    width: 7px;
    height: 30px;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    font-family: Raleway;
    margin-right: 0px;
    display: block;
    color: rgb(0, 0, 0);
}

#seperator2:hover {
    text-decoration: none;
    margin-top: 10px;
}

#seperator2 {
    float: left;
    font-size: 24px;
    width: 7px;
    height: 30px;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    font-family: Raleway;
    margin-right: 0px;
    display: block;
    color: rgb(0, 0, 0);
}

